    .login-button{
            color: white;
            background-color: rgb(0,123,255);
            border:0px;
            border-radius:10px;
        }
        .sign-button
        {
            color: white;
            background-color: rgb(0,123,255);
            border:0px;
            border-radius:10px;

        }